@model Web._931803.Chegodaeva.Lab4.Models.SignUpModel
@{ ViewData["Title"] = "Sign Up"; }

<h1>Sign Up result</h1>

<p>@Model.FirstName</p>
<p>@Model.LastName</p>
<p>@Model.Gender</p>
<p>@Model.Day @Model.Month  @Model.Year</p>
<p>@Model.Email</p>
<p>@Model.Password</p>